/*body {
  background-image: url("../sources/wallpaper.jpg");
  background-size: cover;
}*/
/*div {
  width: 720px;
  hieght: 480px;
  border-style: solid;
}*/
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#buttons {
    width:350px;
    float:left;
    padding:50px;
}
