#map {
    float: left;
}
#buttons {
    width:500px;
    float:right;
    padding:10px;
}
body{
  background-image: url(http://static.robbreport.com/sites/default/files/images/articles/2016Mar/2036221//001-aston-martin-db11_embargo-010316-1400cet_01.jpg);
}
