/*body {
  background-image: url("../sources/wallpaper.jpg");
  background-size: cover;
}*/
/*div {
  width: 720px;
  hieght: 480px;
  border-style: solid;
}*/
#map {
    float: left;
}
#buttons {
    width:500px;
    float:right;
    padding:10px;
}
/*#buttons {
    width:350px;
    float:left;
    padding:50px;
}*/
