/* Thom Mekelenkamp
   11167998
   Universiteit van Amsterdam*/

/* position the content of the div to te center of the screen*/
.disclaimer {
  text-align: center;
}

/* make sure that the title is in the correct position*/
h3 {
  text-align: center;
}

/* create a margin to place the text in the centre aligned to the left*/
p {
  text-align: left;
  margin-left: 300px;
  margin-right: 300px;
}
