/*Thom Mekelenkamp
  11167998
  Universiteit van Amsterdam*/

/* make sure the top comes out under the navbar*/
.indexText, .mapButtons, .comparison, .disclaimer {
  margin-top: 50px;
}

/* align all the body content to the center*/
body > * {
  text-align: center;
}

/* place the navbar over the whole width of the page*/
.nav-bar{
  width: 100%;
}

/* make up the tabs*/
.nav-tabs{
  width: 100%;
  background-color: green;
  color: black;
}

/* set the color and the borders of the tabs*/
.nav-tabs > li > a{
border: medium none;
color: white;
}

/* define settings for on hover*/
.nav-tabs:hover{
  background-color: green;
  border: medium none;
  border-radius: 0;
  color:black;
}
