h2 {
  text-align: center;
}

.datamaps-legend {
    /*text-align: center;*/
    top: 80px;
    margin-left: 670px;
  }

.map {
  /*margin-left: 100px;*/
  margin-top: 90px;
  text-align: center;
  width: 1140px;
  height: 500px;"
}

#button1, #button2, #button3, #button4 {
    text-align: center;
    font-size: 16px;
    width: 160px;
    margin-top: 10px;
}

#button1:hover, #button2:hover, #button3:hover, #button4:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.selectors {
  text-align: center;
}
